# This directory is inentionally left empty, see the disclamer in README
# If you want to run this bot, you will have to transcribe the special effects you want yourself.

# Ignore everything in this directory
*
# Except this file
!.gitignore